@using PagedList.Core
@model IPagedList<Contact>
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link href="~/css/pagelist.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css" rel="stylesheet">
@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/news" class="nav-link">@ViewBag.Title</a>
        </li>
    </ul>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý danh mục</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách @ViewBag.Title</h3>

            <div class="card-tools">

                <a href="#" class="btn btn-danger" id="BtnDeleteAll">Xóa</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="SelectAll" /></th>
                        <th>STT</th>

                        <th>Họ tên người gửi</th>
                        <th>Email</th>
                        <th>Ngày gửi</th>

                        <th class="text-center">Trạng thái</th>

                        <th style="width:150px;"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = ((Model.PageNumber - 1) * Model.PageSize) + 1;
                        foreach (var item in Model)
                        {

                            <tr id="trow_@item.Id">
                                <td><input type="checkbox" class="chkItem" value="@item.Id" /></td>
                                <td>@i</td>

                                <td>@item.Name</td>
                                <td>@item.Email</td>
                                <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>

                                <td class="text-center">
                                    <span class="ReadContact" data-id="@item.Id">@(item.IsRead ? "Đã đọc" : "Chưa đọc")</span>
                                </td>
                                <td>
                                    <a href="/admin/contact/view/@item.Id" class="btn btn-sm btn-success">Xem</a>
                                    <a href="#" class="btn btn-sm btn-primary btnCapNhat" data-id="@item.Id">Cập nhật</a>
                                </td>

                            </tr>
                            i++;
                        }

                    }
                    else
                    {
                        <tr>
                            <td colspan="7">Không có bản ghi nào</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row">
                <div class="col-6"></div>
                <div class="col-6 pagination-controls">
                    @if (Model.HasPreviousPage)
                    {
                        <a href="?page=@(Model.PageNumber - 1)&pageSize=@Model.PageSize" class="page-link">Previous</a>
                    }

                    <span class="page-info">Page @Model.PageNumber of @Model.PageCount</span>

                    @if (Model.HasNextPage)
                    {
                        <a href="?page=@(Model.PageNumber + 1)&pageSize=@Model.PageSize" class="page-link">Next</a>
                    }
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cập nhật trạng thái</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="txtContactId" value="0" />
                <div class="form-group">
                    <label>Trạng thái</label>
                    <select class="form-control" id="ddTrangThai">
                        <option value="false">Chưa đọc</option>
                        <option value="true">Đã đọc</option>
                    
                    </select>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="btnLuu">Lưu</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section scripts{

    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script>
   
        $(document).ready(function () {
            $('body').on('click', '.btnCapNhat', function () {
                var id = $(this).data("id");
                    
                $('#txtContactId').val(id);
                $('#modal-default').modal('show');
            });

            $('body').on('click', '#btnLuu', function (e) {
             
                var id = $('#txtContactId').val();
                var tt = $('#ddTrangThai').val();
                $.ajax({
                    url: '/admin/contact/UpdateTT',
                    type: 'POST',
                    data: { id: id, trangthai: tt },
                    success: function (res) {
                        if (res.success) {
                            // console.log(res);
                            // console.log(res.isRead);
                            var readContact = $('.ReadContact[data-id="' + id + '"]');
                            
                            readContact.html(res.isRead ? "Đã đọc" : "Chưa đọc");
                            // Hiển thị thông báo thành công
                            notyf.success('Cập nhật thành công');

                            $('#modal-default').modal('hide');
                        } else {
                            notyf.error('Cập nhật không thành công');
                        }
                    }
                });
            });
           

        })
    </script>
}