@using PagedList.Core;
@using System.Security.Claims;
@model IPagedList<Product>
@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">
<link href="~/search/css/main.css" rel="stylesheet" />
<link href="~/css/pagelist.css" rel="stylesheet" />
<style>
    .short-line {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        /*Thêm các thuộc tính tương tự cho các trình duyệt khác nhau (nếu cần)*/
        display: -moz-box;
        -moz-line-clamp: 3;
        -moz-box-orient: vertical;
        display: -o-box;
        -o-line-clamp: 3;
        -o-box-orient: vertical;
    }

</style>
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="active">
                        <a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>Product</a>
                    </li>
                </ul>
            </div>

            <!-- Sidebar -->

            <div class="sidebar">
                <div class="sidebar_section">
                    <div class="sidebar_title">
                        <h5>Product Category</h5>
                    </div>
                  @await Component.InvokeAsync("MenuLeft")
                </div>

                <!-- Price Range Filtering -->
                <div class="sidebar_section">
                    <div class="sidebar_title">
                        <h5>Filter by Price</h5>
                    </div>
                    <p>
                        <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                        <input type="hidden" id="FromAmount" />
                        <input type="hidden" id="ToAmount" />
                    </p>
                    <div id="slider-range"></div>
                    <div class="filter_button"><span>filter</span></div>
                    <hr />
                    @*@Html.Action("Refresh","Home")*@
                </div>

                <!-- Sizes -->
                @*<div class="sidebar_section">
                <div class="sidebar_title">
                <h5>Sizes</h5>
                </div>
                <ul class="checkboxes">
                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>S</span></li>
                <li class="active"><i class="fa fa-square" aria-hidden="true"></i><span>M</span></li>
                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>L</span></li>
                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>XL</span></li>
                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>XXL</span></li>
                </ul>
                </div>*@

                <!-- Color -->
                @*<div class="sidebar_section">
                <div class="sidebar_title">
                <h5>Color</h5>
                </div>
                <ul class="checkboxes">
                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Black</span></li>
                <li class="active"><i class="fa fa-square" aria-hidden="true"></i><span>Pink</span></li>
                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>White</span></li>
                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Blue</span></li>
                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Orange</span></li>
                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>White</span></li>
                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Blue</span></li>
                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Orange</span></li>
                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>White</span></li>
                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Blue</span></li>
                <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Orange</span></li>
                </ul>
                <div class="show_more">
                <span><span>+</span>Show More</span>
                </div>
                </div>*@

            </div>

            <!-- Main Content -->

            <div class="main_content">

                <!-- Products -->

                <div class="products_iso">
                    <div class="row">
                        <div class="col">

                            <!-- Product Sorting -->

                            <div class="product_sorting_container product_sorting_container_top">
                                @*<ul class="product_sorting">
                                <li>
                                <span class="type_sorting_text">Default Sorting</span>
                                <i class="fa fa-angle-down"></i>
                                <ul class="sorting_type">
                                <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Default Sorting</span></li>
                                <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Price</span></li>
                                <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "name" }'><span>Product Name</span></li>
                                </ul>
                                </li>
                                <li>
                                <span>Show</span>
                                <span class="num_sorting_text">6</span>
                                <i class="fa fa-angle-down"></i>
                                <ul class="sorting_num">
                                <li class="num_sorting_btn"><span>6</span></li>
                                <li class="num_sorting_btn"><span>12</span></li>
                                <li class="num_sorting_btn"><span>24</span></li>
                                </ul>
                                </li>
                                </ul>
                                <div class="pages d-flex flex-row align-items-center">
                                <div class="page_current">
                                <span>1</span>
                                <ul class="page_selection">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                </ul>
                                </div>
                                <div class="page_total"><span>of</span> 3</div>
                                <div id="next_page" class="page_next"><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
                                </div>*@
                                <form asp-action="index" method="get">
                                    <div class="input-group input-group-sm" id="inputSearch" >
                                        <div class="input-wrapper">
                                            <input id="Searchtext" name="Searchtext" class="rounded-input" />
                                            <button type="submit" class="input-icon">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>                                  
                                </form>
                            </div>

                            <!-- Product Grid -->

                            <div class="product-grid">
                                @if (Model != null && Model.Any())
                                {
                                    foreach (var item in Model)
                                    {
                                        var strImage = "";
                                        var img = item.ProductImage.FirstOrDefault(x => x.IsDefault);
                                        if (img != null)
                                        {
                                            strImage = img.Image;
                                        }
                                        else
                                        {
                                            strImage = "~/Content/img/SanPham/h0.png";
                                        }

                                        var userName = User.FindFirstValue(ClaimTypes.Name);
                                        var wishlist = item.WishLists.FirstOrDefault(x => x.UserName == userName);                          
                                        var isWishList = false;                                                                      
                                        if (wishlist != null)
                                        {
                                            isWishList = true;
                                        }
                                        <div class="product-item @item.ProductCategory.Alias">
                                            <div class="product discount product_filter">
                                                <div class="product_image">
                                                    <img src="@strImage" height="200" alt="@item.Title">
                                                </div>
                                          
                                                @if (isWishList == true)
                                                {
                                                    <div data-id="@item.Id" class="favorite favorite_left active"></div>
                                                }
                                                else
                                                {
                                                    <div data-id="@item.Id" class="favorite favorite_left"></div>
                                                }


                                                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
                                                <div class="product_info">
                                                    <h6 class="product_name short-line"><a href="/chi-tiet/@item.Alias-p@(item.Id)"> @item.Title</a></h6>
                                                    @if (item.PriceSale > 0)
                                                    {
                                                        <div class="product_price">@ShoppingOnline.Helpers.Common.FormatNumber(item.PriceSale, 0)<span>@ShoppingOnline.Helpers.Common.FormatNumber(item.Price, 0)</span></div>
                                                        <div style="display:none" class="in_product_price">@item.PriceSale</div>
                                                    }
                                                    else
                                                    {
                                                        <div class="product_price">@ShoppingOnline.Helpers.Common.FormatNumber(item.Price, 0)</div>
                                                        <div style="display:none" class="in_product_price">@item.Price</div>
                                                    }

                                                </div>
                                            </div>
                                            <div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id="@item.Id"> add to cart</a></div>
                                        </div>
                                    }
                                }
                            </div>

                            <div class="row pagination-container">
                                <div class="col-6"></div>
                                <div class="col-6 pagination-controls">
                                    @if (Model.HasPreviousPage)
                                    {
                                        <a href="?page=@(Model.PageNumber - 1)&pageSize=@Model.PageSize" class="page-link">Previous</a>
                                    }

                                    <span class="page-info">Page @Model.PageNumber of @Model.PageCount</span>

                                    @if (Model.HasNextPage)
                                    {
                                        <a href="?page=@(Model.PageNumber + 1)&pageSize=@Model.PageSize" class="page-link">Next</a>
                                    }
                                </div>
                            </div>

                            <!-- Product Sorting -->

                            <div class="product_sorting_container product_sorting_container_bottom clearfix">
                                <ul class="product_sorting">
                                    <li>
                                        <span>Show:</span>
                                        <span class="num_sorting_text">04</span>
                                        <i class="fa fa-angle-down"></i>
                                        <ul class="sorting_num">
                                            <li class="num_sorting_btn"><span>01</span></li>
                                            <li class="num_sorting_btn"><span>02</span></li>
                                            <li class="num_sorting_btn"><span>03</span></li>
                                            <li class="num_sorting_btn"><span>04</span></li>
                                        </ul>
                                    </li>
                                </ul>
                                @*<span class="showing_results">Showing 1–3 of 12 results</span>
                                <div class="pages d-flex flex-row align-items-center">
                                <div class="page_current">
                                <span>1</span>
                                <ul class="page_selection">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                </ul>
                                </div>
                                <div class="page_total"><span>of</span> 3</div>
                                <div id="next_page_1" class="page_next"><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
                                </div>*@

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/assets/js/categories_custom.js"></script>
    @* <script src="~/Content/jsShopping.js"></script> *@
}

