@model IEnumerable<Product>
<style>
    .short-line {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        /*Thêm các thuộc tính tương tự cho các trình duyệt khác nhau (nếu cần)*/
        display: -moz-box;
        -moz-line-clamp: 3;
        -moz-box-orient: vertical;
        display: -o-box;
        -o-line-clamp: 3;
        -o-box-orient: vertical;
    }

</style>

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {

        var strImage = "";
        var img = item.ProductImage.FirstOrDefault(x => x.IsDefault);
        if (img != null)
        {
            strImage = img.Image;
        }
        else
        {
            strImage = "~/Content/img/SanPham/h0.png";
        }
        var wishlist = item.WishLists.FirstOrDefault(x => x.UserName == User.Identity.Name);
        var isWishList = wishlist != null;
        <div class="product-item @item.ProductCategory.Alias">
            <div class="product discount product_filter">
                <div class="product_image">
                    <img src="@strImage" alt="@item.Title" >
                </div>
                @if (isWishList == true)
                {
                    <div data-id="@item.Id" class="favorite favorite_left active"></div>
                }
                else
                {
                    <div data-id="@item.Id" class="favorite favorite_left"></div>
                }
                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
                <div class="product_info">
                    <h6 class="product_name short-line"><a href="/chi-tiet/@item.Alias-p@(item.Id)"> @item.Title</a></h6>
                    @if (item.PriceSale > 0)
                    {
                        <div class="product_price">@ShoppingOnline.Helpers.Common.FormatNumber(item.PriceSale, 0)<span>@ShoppingOnline.Helpers.Common.FormatNumber(item.Price, 0)</span></div>
                    }
                    else
                    {
                        <div class="product_price">@ShoppingOnline.Helpers.Common.FormatNumber(item.Price, 0)</div>
                    }

                </div>
            </div>
            <div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id="@item.Id"> add to cart</a></div>
        </div>
    }

}
