@using PagedList.Core
@using ShoppingOnline.Models
@model IPagedList<News>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<link href="~/css/pagelist.css" rel="stylesheet" />
<style>
    .news_section_container {
        margin-top: 180px;
    }

    .title-news {
        font-size: 24px;
        border-bottom: 1px solid;
        padding: 15px 0;
        margin-bottom: 25px;
    }

    .img-box img {
        max-width: 100%;
        max-height: 100%;
    }

    .row-item-new {
        margin-bottom: 20px;
    }
</style>
<div class="container news_section_container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title-news">Tin tức</h1>
        </div>
    </div>
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="row row-item-new">
                <div class="col-md-3">
                    <div class="img-box">
                        <a href="" title="@item.Title"><img src="@item.Image" alt="@item.Title" /></a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="content-box">
                        <h3><a href="/tin-tuc/@item.Alias-n@(item.Id)" title="@item.Title">@item.Title</a></h3>
                        <div class="description-box">
                            @item.Description
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        }
    }
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6" style="text-align:right">
            @if (Model.HasPreviousPage)
            {
                <a href="?page=@(Model.PageNumber - 1)&pageSize=@Model.PageSize">Previous</a>
            }

            Page @Model.PageNumber of @Model.PageCount

            @if (Model.HasNextPage)
            {
                <a href="?page=@(Model.PageNumber + 1)&pageSize=@Model.PageSize">Next</a>
            }
        </div>
    </div>
</div>


